name: "Publish Manual Dispatch armhf"

on: [workflow_dispatch]

jobs:
  publish_armhf:
    name: Publish-armhf
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Publish
        uses: home-assistant/builder@master
        with:
          args: |
            --armhf \
            --target emhass \
            --docker-hub davidusb
